/* About */
.aboutContainerBg {
    background-color: white;
  
    min-height: 20vh;
  }
  
  .aboutDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .aboutText{
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    
  
  }
  
  .textAlt{
    
    font-family: 'Asap', sans-serif;
    font-size: 22px;
    color: #396BA1;
    
  }

.imgFluid {

  background: white;
}
  
  
  