

.image_link {
    height: 10px;
    width: 10px;
}



.bodyCard{
    font-size: 15px;

}

.bodysubtitle{
    display:flex;
  

}

.title {
    color:orange;
    font-size: 15px;
}

.subtitle {
    font-size: 10px;

}

.dtitle {
    font-size: 10px;
}