/* Background  */
.imgFluid {
  max-width: 75%;
  max-height: 75%;
 
}


.background {
    background-image: url("../public/assets/bg.png");
    height: 90vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top: 0px;
    background-repeat: no-repeat;
  }

  .texture {
    background-image: url("../public/assets/texture.png");
    background-attachment: fixed;
    height: 90vh;
    background-repeat: no-repeat;
  }
  
    
  .headerIndex {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 30px !important;
    margin-right: 10px !important;
  }
  
  /* Aquí está el Header  */
  .sectionHeader {
    min-width: 90vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  /* texto */

 
  
  .sectionT > h2 {
   min-width: 20%;
    font-weight: 300;
    color: #E88F14;
    
  }
  
  
  .spanHeader{
  font-weight: 700;
  color: #E88F14;
  }
  
  .btnCustom {
    background-color: #E88F14;
    color: white;
    border:#E88F14;
    border-radius: 3px;

   
  }

  


  .btnCustom:hover {
    background-color: #db8e13;
    color: white;
  }
  
 