  
.main {
   
    display: flex;
    align-items:center;
    justify-content: flex-end;
    font-size: 10px;
    margin-top: 20px;

  
  }
 
  .main :hover {
    background-color: #FFDA1D ;
    color: white;
    border-radius: 2px;
    height: fit-content;
   
  }


