.texture {
  background-image: url("../public/assets/texture.png");
  height:fit-content;
  background-repeat:repeat;
}


  @media (max-width: 1200px) {
    .navComp {
      visibility: hidden;
  }
  }
 


.productHeader {
  
  justify-content:space-evenly;
  align-items: center;

}


  
.btnCustom {
    background-color: #E88F14;
    height: 28px;
    width: 110px;
    color: white;
    border:#E88F14;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 13px;
    
  }


  .btnCustom:hover {
    background-color: #db8e13;
    color: white;
  }
  

