
  /* Aquí está el Header  */
  .sectionHeader {
    min-width: 90vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* texto */
  
  .sectionTitle > h2 {
   min-width: 20%;
    font-weight: 300;
    color: #E88F14;
  }
  
  
  .spanHeader{
  font-weight: 700;
  color: #E88F14;
  }

  